// main: ./main.scss

// SCSS VARIABLES
$box-shadow: 2px 2px 4px grey;
$body-background: #35373a;
$text-background: #3b3d41;
$bar-background: #ee7d3c;
$code-background: #35373a;

$text-color: #fff;
$bar-text-color: #000;

$link-color: #ff9555;
$border-default: 1px solid $bar-background;

// SCSS MIXINS
@mixin text-shadow($x: 1px, $y: 1px, $blur: 2px, $color: black) {
  text-shadow: $x $y $blur $color;
}

@mixin mq($size) {
  @media only screen and (max-width: $size) {
    @content; /* lets us pass content block into mixin */
  }
}

/***GENERAL STYLING***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  @include mq(700px) {
    font-size: 87.5%;
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  color: $text-color;
}

textarea {
  @include mq(700px) {
    font-size: 0.8rem;
  }
}

a {
  color: $link-color;
  font-weight: 600;
  text-decoration: none;
  &:hover,
  &:focus {
    color: #b45922;
  }
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header {
  font-size: 1.5rem;

  @include mq(700px) {
    font-size: 1rem;
  }
}

footer {
  font: {
    size: 1.125rem;
    weight: 600;
  }

  margin-bottom: 0.5em;

  @include mq(700px) {
    font-size: 0.8rem;
  }
}
