// main: ./main.scss

.main-container {
  background-color: $body-background;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.windows-container {
  display: flex;

  margin: 0 auto;
  overflow: hidden; /* need for flexbox shrinking */
  width: 100%;
  max-width: 1600px;

  @include mq(768px) {
    flex-direction: column;
  }
}

.flexitem {
  display: flex;
  flex: {
    flow: column;
    basis: 50%;
  }

  max-width: 50%; /* keeps input & previewer same width */
  padding: 0.5em 0.75em;

  @include mq(768px) {
    max-width: 100%;
    max-height: 50%;
  }
}

.bar {
  background-color: $bar-background;
  border: $border-default {
    bottom-width: 0;
    radius: 0.625em 0.625em 0 0;
  }

  color: $bar-text-color;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 0.25em;
  padding-left: 0.75em;

  @include mq(700px) {
    font-size: 1.1rem;
  }
}

.editor,
.preview {
  background-color: $text-background;
  color: $text-color;

  border: 1px solid $bar-background;
  height: 100%;
  overflow: auto; /* enables scrollbar */
  padding: 1em;
  resize: none; /* prevents resizing of textarea box */
}

.editor:focus-within,
.preview:focus-within {
  outline: none;
  border-color: white;
}
