// main: ./main.scss

code {
  white-space: pre-wrap;
  background-color: $code-background;
  padding: 0 0.1em;
}

/* pre wraps code elements to create a codeblock */
pre {
  @extend code; // extends rules from code above
  margin: 1em 0;
  padding: 0.7em;
}

ul {
  padding-left: 30px; /* reapply margin to li elements */
}

blockquote {
  margin: 1em 40px;
  border-left: 2px solid $bar-background;
  p {
    margin-left: 10px;
  }
}

.preview {
  overflow-wrap: break-word; /* forces long words to wrap */
  p {
    margin-top: 0.7em;
    margin-bottom: 0.7em;
  }
  h1 {
    margin: 0.25em 0;
    padding-bottom: 0.2em;
    border-bottom: 2px solid $text-color;

    @include mq(700px) {
      font-size: 1.7rem;
    }
  }
  h2 {
    margin-top: 0.83em;
    margin-bottom: 0.83em;
  }
  h3 {
    margin-top: 1em;
    margin-bottom: 1em;
  }
  h4 {
    margin-top: 1.33em;
    margin-bottom: 1.33em;
  }
  h5 {
    margin-top: 1.67em;
    margin-bottom: 1.67em;
  }
  h6 {
    margin-top: 2.33em;
    margin-bottom: 2.33em;
  }
}

table {
  border-collapse: collapse; /* removes gaps between cells */
}

td,
th {
  border: $border-default;
  padding: 2px 5px;
}
