/***GENERAL STYLING***/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

@media only screen and (max-width: 700px) {
  html {
    font-size: 87.5%;
    /* lets us pass content block into mixin */
  }
}

body {
  font-family: 'Quicksand', sans-serif;
  color: #fff;
}

@media only screen and (max-width: 700px) {
  textarea {
    font-size: 0.8rem;
    /* lets us pass content block into mixin */
  }
}

a {
  color: #ff9555;
  font-weight: 600;
  text-decoration: none;
}

a:hover, a:focus {
  color: #b45922;
}

img {
  max-width: 100%;
}

.text-center {
  text-align: center;
}

header {
  font-size: 1.5rem;
}

@media only screen and (max-width: 700px) {
  header {
    font-size: 1rem;
    /* lets us pass content block into mixin */
  }
}

footer {
  font-size: 1.125rem;
  font-weight: 600;
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 700px) {
  footer {
    font-size: 0.8rem;
    /* lets us pass content block into mixin */
  }
}

.main-container {
  background-color: #35373a;
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.windows-container {
  display: flex;
  margin: 0 auto;
  overflow: hidden;
  /* need for flex shrinking */
  width: 100%;
  max-width: 1600px;
}

@media only screen and (max-width: 768px) {
  .windows-container {
    flex-direction: column;
    /* lets us pass content block into mixin */
  }
}

.flexitem {
  display: flex;
  flex-flow: column;
  flex-basis: 50%;
  max-width: 50%;
  /* keeps input & previewer same width */
  padding: 0.5em 0.75em;
}

@media only screen and (max-width: 768px) {
  .flexitem {
    max-width: 100%;
    max-height: 50%;
    /* lets us pass content block into mixin */
  }
}

.bar {
  background-color: #ee7d3c;
  border: 1px solid #ee7d3c;
  border-bottom-width: 0;
  border-radius: 15px 15px 0 0;
  color: #000;
  font-size: 1.2rem;
  font-weight: 700;
  padding: 5px;
}

.bar p {
  padding-left: 10px;
}

.editor,
.preview {
  background-color: #3b3d41;
  color: #fff;
  border: 1px solid #ee7d3c;
  height: 100%;
  overflow: auto;
  /* enables scrollbar */
  padding: 1em;
  resize: none;
  /* prevents resizing of textarea box */
}

.editor:focus-within,
.preview:focus-within {
  outline: none;
  border-color: white;
}

code, pre {
  white-space: pre-wrap;
  background-color: #35373a;
  padding: 0 0.1em;
}

/* pre wraps code elements to create a codeblock */
pre {
  margin: 1em 0;
  padding: 0.7em;
}

ul {
  padding-left: 30px;
  /* reapply margin to li elements */
}

blockquote {
  margin: 1em 40px;
  border-left: 2px solid #ee7d3c;
}

blockquote p {
  margin-left: 10px;
}

.preview {
  overflow-wrap: break-word;
  /* forces long words to wrap */
}

.preview p {
  margin-top: 0.7em;
  margin-bottom: 0.7em;
}

.preview h1 {
  margin: 0.25em 0;
  padding-bottom: 0.2em;
  border-bottom: 2px solid #fff;
}

@media only screen and (max-width: 700px) {
  .preview h1 {
    font-size: 1.7rem;
    /* lets us pass content block into mixin */
  }
}

.preview h2 {
  margin-top: 0.83em;
  margin-bottom: 0.83em;
}

.preview h3 {
  margin-top: 1em;
  margin-bottom: 1em;
}

.preview h4 {
  margin-top: 1.33em;
  margin-bottom: 1.33em;
}

.preview h5 {
  margin-top: 1.67em;
  margin-bottom: 1.67em;
}

.preview h6 {
  margin-top: 2.33em;
  margin-bottom: 2.33em;
}

table {
  border-collapse: collapse;
  /* removes gaps between cells */
}

td,
th {
  border: 1px solid #ee7d3c;
  padding: 2px 5px;
}
